<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drake Search</title>

    <link rel="stylesheet" href="styling.css"/>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="jQuery.js"></script>
    <script>
        $("#softOption").click(function(){
            console.log("HI");
        });
    </script>
</head>
<body>

    <div class = "row">

    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 offset-md-2">
            <h1>Drake Search</h1>
            <form>
                <input type="text" name="lname" id = "searchBar">
                <label class="radio-inline">
                    <input type="radio" name="optradio" id = "softOption">Soft Drake
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" id = "hardOption">Hard Drake
                </label>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

</body>
</html>